Repository mmattDonk/AI-TTS-Donations, pull requests merged in 2022-10, with the labels that each got.

#301 Improved documentation
  README.md
  apps/backend/README.md
  apps/frontend/README.md
  apps/processor/README.md
  package.json
Labels: documentation, hacktoberfest-accepted

#302 added some meta tags
  apps/frontend/src/pages/404.tsx
  apps/frontend/src/pages/dashboard.tsx
  apps/frontend/src/pages/index.tsx
Labels: hacktoberfest-accepted

#305 Replaced Links with dropdown Menu
  apps/frontend/i18n/en-US.json
  apps/frontend/src/pages/index.tsx
Labels: hacktoberfest-accepted, @solrock/frontend

#304 frontpage testimonies
  apps/frontend/next.config.js
  apps/frontend/package.json
  apps/frontend/src/components/Testimonies.tsx
  apps/frontend/src/pages/index.tsx
  yarn.lock
Labels: hacktoberfest-accepted

#308 added stars + links + followers to testimonies + real testimonies
  apps/frontend/next.config.js
  apps/frontend/src/components/Testimonies.tsx
Labels: hacktoberfest-accepted

#310 add basic auth to python serverless
  apps/backend/src/index.ts
  apps/processor/main.py
Labels: hacktoberfest-accepted, @solrock/processor

#311 initial eventsub subscribing working in theory
  apps/backend/src/index.ts
  apps/frontend/src/pages/api/auth/[...nextauth].ts
Labels: hacktoberfest-accepted, @solrock/backend

#312 Improve landing page Get Started button
  .gitignore
  apps/frontend/src/pages/index.tsx
Labels: hacktoberfest-accepted, @solrock/frontend

#314 better wording for feature heading
  apps/frontend/src/pages/index.tsx
Labels: hacktoberfest-accepted, @solrock/frontend

#315 initial configs
  apps/backend/package.json
  apps/backend/src/index.ts
  apps/backend/src/typings.d.ts
  apps/frontend/src/pages/api/streamers/overlayId/[overlayId].ts
  apps/frontend/src/pages/api/streamers/streamerId/[streamerId].ts
  apps/frontend/src/pages/dashboard.tsx
  apps/frontend/src/server/router/index.ts
  apps/frontend/src/server/router/streamer.ts
  apps/prisma/prisma/schema.prisma
  yarn.lock
Labels: @solrock/processor, @solrock/frontend, @solrock/backend

#321 New Crowdin updates
  apps/frontend/i18n/pl-PL.json
Labels: i18n 🌐
